<main>
  <div style="height:5vh;">
  </div>
  <div class="card ordenado">
    <form [formGroup] = "reviewForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input [formControl]="mailController" type="email form-control" class="form-control" id="exampleInputEmail1" >
        <div id="emailHelp" class="form-text">No compartiremos tu información con nadie más</div>
        <small *ngIf="mailController.errors?.['required']" class="text-danger">
          No puede estar vacio
        </small>
        <small *ngIf="mailController.errors?.['DeValid']"  class="text-danger">
          No puede ser el mail corporativo
        </small>
        <small *ngIf="mailController.errors?.['email']"  class="text-danger">
          No tiene formato mail
        </small>
      </div>
      <label for="inputPassword5" class="form-label">Identificador personal </label>
      <input [formControl]="IDController" type="password form-control" id="inputPassword5" class="form-control" >
      <small *ngIf="IDController.errors?.['minLength']"  class="text-danger">
        Debe incluir mas de 2 caracteres 
      </small>
      <!-- <pre>{{IDController.errors | json }}</pre> -->
      <br>
      <button mat-raised-button color="warn" class="mx-3">Eliminar</button>

      <button mat-raised-button color="accent">Alta</button>
    </form>
  </div>
</main> 