<table class="table table-dark table-hover">
    <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Dueño</th>
          <th scope="col">Nota</th>
          <th scope="col">Resultado</th>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="miLista.Aprobado ? table.info : table.Warning" *ngFor="let miLista of Rsultados">
          <th scope="row">{{miLista.Nombre}}</th>
          <td>{{miLista.Dueño}}</td>
          <td>{{miLista.Nota}}</td>
          <td>{{miLista.Aprobado}}</td>
        </tr>
      </tbody>
</table>