<table class="table table-hover">
  <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">proyecto</th>
        <th scope="col">Nota</th>
        <th scope="col">Aprobado</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="Estudiantes.Aprobado ? 'table-info' : 'table-warning' " *ngFor="let Estudiantes of Resultados">
        <th scope="row">{{Estudiantes.Nombre}}</th>
        <td>{{Estudiantes.proyecto}}</td>
        <td>{{Estudiantes.Nota}}</td>
        <td>{{Estudiantes.Aprobado}}</td>
      </tr>
    </tbody>
</table>